body {
  background: #7291F9;
}

.center-page {
  background: rgba( 255, 255, 255, 0.70 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  padding: 30px;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.relative-top {
  background: rgba( 255, 255, 255, 0.70 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  padding: 30px;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 10%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.center-page input {
  float: right;
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.17 );
  backdrop-filter: blur( 2.0px );
  -webkit-backdrop-filter: blur( 2.0px );
  border-radius: 5px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.center-page input[type=submit] {
  float: none;
}

.center-page input:focus {
  outline: none;
}

.home {
  background: rgba( 255, 255, 255, 0.75 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 2.0px );
  -webkit-backdrop-filter: blur( 2.0px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  margin-top: 10px;
}

.classes {
  text-align: center;
  width: 100%;
  border: 2px solid black;
  padding-top: 20px;
  padding-bottom: 20px;
  background: rgba( 255, 255, 255, 0.90 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 2.0px );
  -webkit-backdrop-filter: blur( 2.0px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
}

.classes:hover {
  box-shadow: none;
  transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  cursor: pointer;
}

.name-of-class {
  font-size: 1.7em;
}

.additional-links {
  font-size: 0.7em;
}

.assignments {
  background: rgba( 255, 255, 255, 0.45 );
  backdrop-filter: blur( 2.0px );
  -webkit-backdrop-filter: blur( 2.0px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  margin-right: 10px;
  margin-left: 10px;
  transition: .2s;
  -moz-transition: .2s;
  -webkit-transition: .2s;
}

.assignments:hover {
  background: rgba( 255, 255, 255, 0.7 );
  transition: .2s;
  -moz-transition: .2s;
  -webkit-transition: .2s;
  cursor: pointer;
}

.assignment-details {
  font-size: 0.7em;
}

.close-assignment {
  display: block;
  float: right;
  padding-right: 3px;
  margin: none;
}

.titular {
  font-size: 1.5em;
}

.assignments-list {
  height: 400px;
  overflow-y: scroll;
  text-align: center;
}

#course-join {
  margin-left: 15px;
}

#course-code {
  margin-left: 4px;
  margin-bottom: 7px;
}

.button {
  background: rgba( 255, 255, 255, 0.6 );
  backdrop-filter: blur( 2.0px );
  -webkit-backdrop-filter: blur( 2.0px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  padding: 10px;
  transition: .2s;
  -moz-transition: .2s;
  -webkit-transition: .2s;
}

.button:focus {
  outline: none;
}

a {
  color: black;
}

a:hover {
  color: black;
}

.heading-title {
  font-size: 3em;
}

.description {
  font-size: 1.1em;
}

.override-a-tag {
  text-decoration: underline;
}
